.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: radial-gradient(circle, #0D0F2B 20%, #0E1028 50%,#060714  80%);
    height: 100vh;
    font-family: 'Sora';
    position: relative;
  }
  
  h2 {
    font-weight: bold;
    color: white;
    display: flex;
    gap:10px;
    align-items: center;
  }
  .intro{
    margin-right: 130px;
    font-size: 3.2rem;
  }
  .highlight{
    font-size: 3.2rem;
  }
  p {
    margin-top: 10px;
    color: #7780A1;
    font-size: 13px;
  }
  .frame-one{
    max-width:30px;
  }
  .frame-two{
    max-width: 50px;
    height: 50px;
  }
