body{
    background:#060714;
  }
  .auto_slider_container{
    max-width: 1000px;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    background:b#060714;
  }
  .auto_slider{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 30s linear infinite;
  }
   .nft-scroll{
    width:100px
   }
  @keyframes rotation {
   0% {
    transform:translateX(0)
   }
   100% {
    transform:translateX(-100%)
   }
  }