/* styles/Statistics.module.css */
.statContainer {
    background-color: #060714;
    color: white;
    padding: 40px;
    text-align: center;
    padding-top: 100px;
    font-family: 'Sora';
    position: relative;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 40px; */
    padding-bottom: 90px;
    width:60%;
    margin:0 auto;
  }
  
  .stats div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stats h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ctaBox {
    background: linear-gradient(188.08deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 93.79%), #060714;
border-radius: 0px 20px 20px 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .textSection {
    max-width: 50%;
    text-align: left;
    padding-left: 100px;
  }
  
  .overline {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
  }
  
  .textSection h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom:30px;
    margin-top:20px;
    
  }
  .textSection p{
    font-size: 13px;
    margin-bottom: 20px;
  }
  .buttons{
    display: flex;
    gap: 15px;
  }
  .buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13.5px;
  }
  
  .getStarted {
    color: white;
    background: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
      box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
      border-radius: 12px;
  }
  
  .learnMore {
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    border: 2px solid #262840;
      box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
      border-radius: 12px;
  }
  
  .statUsers1{
    position: absolute;
    width:250px;
    top:300px;
    right:300px;
  }
  .statUsers2{
    position: absolute;
    width:250px;
    top:450px;
    right:200px;
  }
  .statUsers3{
    position: absolute;
    width:250px;
    top:550px;
    right:240px;
  }